/*Burger menu toggle button*/
.burger {
    cursor: pointer;
    box-sizing: border-box;
    position: absolute;
    top: 5px;
    transform: translateY(30px);
    right: 35px;
    height: 40px;
    width: 40px;
    transition: transform .8s ease-in-out;
    z-index: 9999;
    padding: 5px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

/*Burger bars*/
.burger>span {
    background-color: #2d2d2d;
    border-radius: 15px;
    height: 5px;
    position: relative;
    transform-origin: left center;
    transition: .2s ease;
    width: 100%;
}

.burger>span:nth-child(2) {
    width: 85%;
}

/*Burger on scroll*/
.appear .burger {
    transform: translateY(5px);
}

.appear .burger>span {
    background-color: #FBBA00;
}

/*Burger on menu open*/
.burger>.toggle {
    transition: all .5s 1s ease-in-out;
}

/*Transform burger in 2colon hover*/
.burger:hover>span:nth-child(1):not(.toggle),
.burger:hover>span:nth-child(3):not(.toggle) {
    height: 12px;
    width: 12px;
}

.burger:hover>span:nth-child(2):not(.toggle) {
    opacity: 0;
    width: 0;
}

/*Transform burger to close icon*/
.burger>.toggle:nth-child(1) {
    transform: rotate(45deg);
    background-color: #404040;
}

.burger>.toggle:nth-child(2) {
    opacity: 0;
}

.burger>.toggle:nth-child(3) {
    transform: rotate(-45deg) translate(-1px, 2px);
    background-color: #404040;
}