/*Buttons*/


/*SVG buttons fills*/
.fil1 {
    fill: #211F1F
}

.fil0 {
    fill: #2D2D2D
}

.fil2 {
    fill: #FBBA00;
    fill-rule: nonzero;
}


/*Scroll bottom*/
.scroll-btm {
    height: 50px;
    opacity: 0;
    pointer-events: none;
    transition: .8s ease;
    width: 50px;
}

.scroll-btm.appear {
    animation: sb_animate 2s infinite;
    opacity: 1;
    pointer-events: initial;
}

.scroll-btm:hover {
    animation-play-state: paused;
}

/*Scroll bottom arrow animation*/
.arrow-dwn {
    transition: transform .4s ease;
}

.scroll-btm:hover .arrow-dwn {
    transform: translateY(15%);
}

.scroll-top {
    top: 100vh;
    cursor: pointer;
    display: block;
    height: 50px;
    position: absolute;
    right: 35px;
    transition: opacity .8s, transform .8s ease-in-out;
    opacity: 0;
    width: 50px;
}

.scroll-top.appear {
    transform: translateY(-80px);
    opacity: 1;
}

/*Scroll top arrow animation*/
.arrow-top {
    transition: transform .4s ease;
}

.scroll-top:hover .arrow-top {
    transform: translateY(-10%);
}


/*Scroll right button*/
.scroll-right {
    animation: sr_animate 2s infinite;
    cursor: pointer;
    height: 50px;
    width: 50px;
}

.scroll-right:hover {
    animation-play-state: paused;
}

/*Scroll right arrow animation*/
.arrow-right {
    transition: transform .4s ease;
}

.scroll-right:hover .arrow-right {
		transform: translateX(10%);
}


/*Simple button*/
.sm-button {
    border-radius: 50px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: "Raleway-Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 1.5em;
    padding: 8px 45px;
    text-transform: uppercase;
    transition: all 0.35s ease;
}

/*Black button*/
.sm-black {
    border: 4px solid #2d2d2d;
    color: #2d2d2d;
}

.sm-black:hover {
    background-color: #2d2d2d;
    color: #FBBA00;
}

/*Yellow button*/
.sm-yellow {
    background-color: #2d2d2d;
    border: 4px solid #FBBA00;
    color: #FBBA00;
}

.sm-yellow:hover {
    background-color: #FBBA00;
    color: #2d2d2d;
}