footer {
    align-items: center;
    background: linear-gradient(#fbba00, #ff512f);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.footer-bg {
    animation: citymove 25s linear infinite;
    /*background: url('../../../assets/img/bg/footer-bg.png') repeat-x center bottom;*/
    background: repeat-x center bottom;
    background-size: auto 100%;
    bottom: 0;
    height: 50%;
    position: absolute;
    width: 200%;
    overflow: hidden;
}

.footer-contacts {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 60vh;
    position: relative;
    transform: translateY(150px);
}

.footer-contacts>a {
    color: #222;
    display: block;
    font-family: "Dvoway-Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 2em;
    line-height: normal;
    padding: 3px;
    text-decoration: none;
    transition: color .6s ease;
}

.footer-contacts>a:hover {
    color: #fff;
}

/*Form*/

.form-button {
    display: block;
    margin: 30px auto;
    position: relative;
    text-align: center;
}

.callback-form {
    background: #222;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 25px;
    text-align: center;
    width: 325px;
}

.callback-form input,
.callback-form textarea {
    background-color: #fff;
    border: 3px solid #fff;
    border-radius: 25px;
    font-family: "Dvoway-Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 1.5em;
    margin: 10px 0;
    padding: 12px;
    resize: none;
    transition: .4s ease;
    width: 85%;
}

.callback-form input:hover,
.callback-form textarea:hover,
.callback-form input:focus,
.callback-form textarea:focus {
    background-color: #FBBA00;
    border-color: #FBBA00;
}

/*Footer social & copyright*/

.footer-bottom {
    bottom: 0;
    color: #8d8d8d;
    font-size: 0.8em;
    left: 0;
    margin: 0 auto;
    padding: 15px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 60%;
}

.footer-social {
    align-items: center;
    display: flex;
    font-size: 4em;
    justify-content: space-between;
    margin: 30px auto;
}

.footer-social a {
    color: #8d8d8d;
    transition: transform .4s ease, color .2s ease;
}

.footer-social a:hover {
    color: #FBBA00;
    transform: translateX(5px);
}

.footer-bottom p {
    color: #444;
}

@media screen and (min-width: 768px) {
    .callback-form {
        width: 500px;
    }

    .footer-bottom {
        width: 50%;
    }

    .footer-social {
        font-size: 4em;
    }
}