header {
    box-sizing: border-box;
    background-color: #222;
    border-bottom: 4px solid transparent;
    display: flex;
    height: 64px;
    left: 0;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 8vw;
    position: fixed;
    right: 0;
    transform: translateY(-100%);
    z-index: 100;
    transition: transform .8s ease, border-color .8s ease;
    box-shadow: 2px 0 10px rgba(0,0,0,.25);
}

/*Header effect on scroll*/
header.appear {
    border-color: #FBBA00;
    transform: translateY(0);
    transition: transform .8s ease, border-color .8s ease;
}

.toplogo {
    cursor: pointer;
    fill-rule: evenodd;
    fill: #222;
    height: 30px;
    left: 15px;
    position: fixed;
    top: 15px;
    transform: translateY(80px);
    transition: .8s ease;
    z-index: 300;
}

.toplogo.appear {
    fill: #FBBA00;
    height: 30px;
    transform: translateY(0);
    transition: .8s ease;
}

.toplogo:hover {
    fill-rule: initial;
}

@media screen and (min-width: 768px) {
    .toplogo {
        height: 40px;
        left: 35px;
    }
}