header {
    box-sizing: border-box;
    display: flex;
    height: 0;
    left: 0;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 8vw;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
    background-color: transparent;
    transition: background-color .8s ease, opacity .8s ease, height .8s ease;
}

/*Header effect on scroll*/

header.appear {
    transition: background-color .8s ease, opacity .8s ease, height .8s ease;
    background-color: #2D2D2D;
    height: 60px;
}


/*Top*/

.top {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1920px;
    width: 100%;
}

.toplogo {
    height: 50%;
    max-width: 50%;
    /*visibility: hidden;*/
}

/*
.toplogo.appear {
    visibility: visible;
}*/
