.dv-modal-box {
    background-color: #FBBA00;
    box-sizing: border-box;
    display: none;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 9999;
}

.dv-modal-box>.left {
    box-sizing: border-box;
    height: 100vh;
    width: 75vw;
    overflow-y: auto;
    position: relative;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
}

.dv-modal-box>.left img {
    width: 100%;
}

.dv-modal-box>.right {
    overflow-y: scroll;
    text-align: left;
    width: 25vw;
    height: 100vh;
    padding: 35px;
    box-sizing: border-box;
}


/* The Close Button */
.modal-close {
    position: absolute;
    right: 45px;
    top: 15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.modal-close::before,
.modal-close::after {
    position: absolute;
    left: 15px;
    content: '';
    cursor: pointer;
    height: 35px;
    width: 5px;
    border-radius: 10px;
    background-color: #222;
    transition: .8s ease;
}

.modal-close::before {
    transform: rotate(45deg);
}

.modal-close::after {
    transform: rotate(-45deg);
}

.dv-modal-box>.image {
    width: 100%;
    height: auto;
}