.portfolio-screen {
    background: #1a1a1a;
    text-align: center;
}

/*Portfolio preview*/

.portfolio-screen p {
    margin-top: 30px;
}

.portfolio-screen figcaption {
    align-items: center;
    background: rgba(0, 0, 0, .9);
    display: flex;
    justify-content: center;
    transition: .8s ease;
}

.portfolio-desc .title {
    color: #FBBA00;
    font-family: "Dvoway-black", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 1.8em;
    text-transform: uppercase;
}

.portfolio-desc .desc {
    color: #888;
    margin-top: -15px;
}

.portfolio-prev:hover {
    cursor: pointer;
}

/*Filter controls*/

.portfolio-filter {
    margin: 30px auto;
    max-width: 1920px;
}

.portfolio-filter>a {
    color: #fff;
    display: block;
    font-family: "Dvoway-black", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 1.8em;
    line-height: 2em;
    padding: 0 15px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .4s ease;
    position: relative;
}

/*Active & hover state*/
.portfolio-filter>a.uk-active,
.portfolio-filter>a:hover {
    color: #fbba00;
    transition: .4s ease;
}

.portfolio-filter>a::before {
		opacity: 0;
    content: ':';
    transform: translate(-10px, -.5px);
    position: absolute;
    transition: .4s ease;
}

.portfolio-filter>a.uk-active::before {
		opacity: 1;
}

@media screen and (min-width: 768px) {
    .portfolio-filter {
        display: flex;
    }

    .portfolio-filter>a {
        border-bottom: 4px solid #fff;
        width: 25%;
    }

    /*Active & hover state*/
    .portfolio-filter>a.uk-active,
    .portfolio-filter>a:hover {
        border-color: #fbba00;
        color: #fbba00;
    }
}