.portfolio-intro {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.portfolio-screen {
    background: #1a1a1a;
    min-height: 100vh;
}

.filter-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
    margin: 0 auto;
    max-width: 1920px;
}

.filter-btns>* {
    margin-top: 10px;
}

@media screen and (min-width: 768px) {
    .filter-btns {
        justify-content: space-between;
    }
}


/*Portfolio preview*/

.portfolio-desc h4 {
	color: #FBBA00;
	text-transform: uppercase;
}

.portfolio-desc p {
	color: #dedede;
}