.logo-screen {
	  align-items: center;
	  display: flex;
	  justify-content: center;
	  min-height: 100vh;
	  overflow: hidden;
	  position: relative;
	  text-align: center;
    background: url('../../../assets/img/logo-bg.jpg') no-repeat center center fixed;
}
