/*Template*/

html,
body {
    margin: 0 auto;
    max-width: 1920px;
    overflow-x: hidden;
}

.noscroll {
    height: 100vh;
    overflow-y: scroll;
    position: fixed;
}

/*Divider*/

hr {
    border: none;
    height: 5px;
    position: relative;
    width: 100%;
}

hr:after {
    background-color: #222;
    border-radius: 5px;
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
}

/*Section Container*/

.sect-container {
    padding: 8vw;
    position: relative;
}

/*First screen default*/

.fs-screen {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    text-align: center;
}


/*Homepage FS*/
.fs-homepage {
    background: #222 url('../../../assets/img/bg/web-bg.jpg') no-repeat center center fixed;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -2;
}

/*Portfolio FS*/
.fs-portfolio {
    background: #222 url('../../../assets/img/bg/portfolio-bg.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -2;
}

/*Logo design FS*/

.fs-logo {
    background: #222 url('../../../assets/img/bg/logo-bg.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -2;
}

/*Webdesign FS*/

.fs-web {
    background: #222 url('../../../assets/img/bg/web-bg.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -2;
}

/*Advertisement FS*/

.fs-adv {
    background: #222 url('../../../assets/img/bg/adv-bg.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -2;
}



.fs-bg-marker {
    background: url('../../../assets/img/bg/markers.png') no-repeat top left;
    background-size: 50% auto;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 15vh;
    left: -10vw;
    z-index: -2;
    transition: transform .05s linear;
    transform: translateY(-100%);
    opacity: 0;
}

.appear.fs-bg-marker {
    animation: marker_animate 3s ease;
    transform: translateY(0);
    opacity: 1;
}


.fs-bg-tablet {
    background: url('../../../assets/img/bg/tablet.png') no-repeat bottom right;
    background-size: 80% auto;
    bottom: -5%;
    height: 100%;
    position: absolute;
    right: -15vw;
    width: 100%;
    z-index: -2;
    transform: translateY(100%);
    transition: transform .05s linear;
    opacity: 0;
}

.appear.fs-bg-tablet {
    animation: tablet_animate 3s ease;
    transform: translateY(0);
    opacity: 1;
}


@media screen and (min-width: 768px) {
    .fs-bg-marker {
        background-size: 30% auto;
        left: -10vw;
    }

    .fs-bg-tablet {
        background-size: 50% auto;
        bottom: -5%;
        right: -15vw;
    }
}

.yellow-dots {
    background: radial-gradient(#E2A801 6px, transparent 6px) center center;
    background-size: 36px 36px;
    height: 100%;
    position: absolute;
    width: 100%;
}

.grey-dots {
    background: radial-gradient(rgba(0, 0, 0, .075) 6px, transparent 6px) center center;
    background-size: 36px 36px;
    height: 120%;
    position: absolute;
    width: 120%;
    z-index: -1;
}

.light-dots {
    background: radial-gradient(rgba(0, 0, 0, .02) 6px, transparent 6px) center center fixed;
    background-size: 36px 36px;
    height: 120%;
    position: absolute;
    width: 120%;
}

/*Services*/

.home-services {
    background-color: #EBEBEB;
    padding-top: 100px;
    min-height: 90vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.home-services>div {
    margin-top: 75px;
    min-width: 100%;
}

.services {
    align-items: center;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services-container {
    min-height: 84vw;
    min-width: 84vw;
    position: relative;
    margin-bottom: 75px;
}

@media screen and (min-width: 768px) {
    .services-container {
        min-height: 20vw;
        min-width: 20vw;
        margin-bottom: 0;
    }

    .home-services {
        padding-top: 0;
    }
}

.serv-desc {
    box-sizing: border-box;
    padding: 10px;
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    bottom: 0;
    transition: opacity .8s ease;
    width: 100%;
    z-index: 1;
}

.serv-desc>div {
    box-sizing: border-box;
    padding: 15px;
}

/*Hide service description*/

.services-container:hover .serv-pre {
    opacity: 0;
}

.services-container:hover .scroll-right {
    animation: sr_animate 2s .5s infinite;
}

/*Show service description*/

.services-container:hover .serv-desc {
    opacity: 1;
}

.serv-pre {
    transition: opacity .8s ease;
}

/*Border animation*/

.serv-desc::before,
.serv-desc::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}

/*Draw*/
.draw::before,
.draw::after {
    border: 6px dotted transparent;
    height: 0;
    width: 0;
    z-index: -1;
}

.draw::before {
    left: 0;
    top: 0;
}

.draw::after {
    bottom: 0;
    right: 0;
}

.draw:hover::before,
.draw:hover::after {
    height: 100%;
    width: 100%;
}

.draw:hover::before {
    border-right-color: #fbba00;
    border-top-color: #fbba00;
    transition: width 0.2s ease-out, height 0.2s ease-out 0.2s;
}

.draw:hover::after {
    border-bottom-color: #fbba00;
    border-left-color: #fbba00;
    transition: width 0.2s ease-out 0.4s, height 0.2s ease-out 0.6s;
}

/*About Us*/

.about-us {
    background: radial-gradient(#E2A801 5px, transparent 5px) center center fixed, #FBBA00;
    background-size: 36px 36px, cover;
    padding: 8vw;
    position: relative;
    text-align: center;
}

.about-us-screen {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
}

@media screen and (min-width: 768px) {
    .about-us-col {
        column-count: 2;
        column-gap: 40px;
    }
}

.about-us-col p {
    font-size: 1.5em;
    line-height: 1.5em;
}

/*Design*/

.home-design {
    align-items: center;
    /*background: url('../../../assets/img/bg/bodesign.jpg') no-repeat center center fixed;*/
    background: no-repeat center center fixed;
    background-size: 100%;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    position: relative;
}

.home-design-txt {
    color: #fff;
    max-width: 80%;
    text-shadow: 3px 3px 15px rgba(0, 0, 0, .3);
}

@media screen and (min-width: 768px) {
    .home-design-txt {
        font-size: 5em;
    }
}

@media screen and (orientation: portrait) {
    .home-design {
        background-size: auto 100%;
    }
}

/*No outlines for a & buttons*/

a,
a:hover,
button,
button:active,
button:focus {
    outline-style: none;
    outline-width: 0;
    outline: 0;
    text-decoration: none;
}

/*Backgrounds*/

.dark-bg {
    background-color: #1a1a1a;
}

.yellow-bg {
    background: radial-gradient(#E2A801 5px, transparent 5px) center center fixed, #FBBA00;
    background-size: 36px 36px, cover;
}