/*Template*/

html,
body {
    margin: 0 auto;
    max-width: 1920px;
    overflow-x: hidden;
}

/*Section Container*/

.sect-container {
    padding: 8vw;
}

/*First screen*/

.first-screen {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.hometitle {
    margin-top: 100px;
}

.fs-bg-1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #E2A801;
    animation: showfs 3s forwards;
}

.fs-bg-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
    background: linear-gradient(-45deg, #E2A801 15%, #FFBF00, #E2A801 87%);
    /*background: linear-gradient(-45deg, #E2A801 20%, #FFBF00 20%, #FFBF00 80%, #E2A801 80%);*/
}

@keyframes showfs {
    100% {
        opacity: 0;
    }
}

.fs-bg-2 {
    background: radial-gradient(#E2A801 6px, transparent 6px) center center fixed;
    background-size: 36px 36px;
    height: 120%;
    position: absolute;
    width: 120%;
    z-index: -1;
}

.name {
    color: #E2A801;
    font-family: "Raleway-Black", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 5em;
    cursor: pointer;
    text-transform: uppercase;
    animation: namecolor 3.5s forwards;
}

@keyframes namecolor {
    to {
        color: #fff;
        text-shadow: 0 0 5px #E2A801, 0 0 15px rgba(0, 0, 0, .1);
    }
}

.gaslo {
    margin-top: -16px;
    transition: color .8s ease, text-shadow .8s ease;
    line-height: 1em;
    cursor: pointer;
    transform: translateX(.5em);
    display: none;
}

@media screen and (min-width: 768px) {
    .name {
        font-size: 12em;
    }
}

.blink {
    opacity: 1;
    animation: blink 2s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

/*Services*/

.home-services {
    background: linear-gradient(#f5f7fa, #c3cfe2);
    text-align: center;
}

.services {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services-container {
    min-height: 84vw;
    min-width: 84vw;
    position: relative;
}

@media screen and (min-width: 768px) {
    .services-container {
        min-height: 20vw;
        min-width: 20vw;
    }
}

@media screen and (min-width: 1920px) {
    .services-container {
        min-height: 15vw;
        min-width: 15vw;
    }
}

.serv-pre {
    transition: opacity .8s ease;
}

/*Services on hover*/

.services-container:hover {
    cursor: pointer;
}

.services-container:hover .serv-pre {
    opacity: 0;
}

.services-container:hover .serv-desc {
    opacity: 1;
}

.serv-desc {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity .8s ease;
    width: 100%;
}

/*Preview Portfolio*/

.portfolio-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.overlay-background {
    background: rgba(0, 0, 0, 0.9);
}

/*Design*/

.home-design {
    min-height: 80vh;
    background: url('../../../assets/img/background-par3.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.home-design-txt {
    color: #fff;
    max-width: 80%;
}

@media screen and (min-width: 768px) {
    .home-design-txt {
        font-size: 5em;
    }
}

/*About Us*/

.about-us-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: left;
}

@media screen and (min-width: 768px) {
    .about-us-col {
        column-count: 2;
        column-gap: 40px;
    }
}

.about-us-col p {
    font-size: 1.5em;
    line-height: 1.5em;
}

/*Buttons*/

.scroll-btm {
    opacity: 0;
    height: 50px;
    width: 50px;
    transition: opacity .8s ease;
    pointer-events: none;
}

.scroll-btm.appear {
    animation: sb_animate 2s infinite;
    pointer-events: initial;
    opacity: 1;
}

.scroll-btm:hover {
    animation-play-state: paused;
}



@keyframes sb_animate {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(0);
    }
}

.scroll-top {
    bottom: -100vh;
    cursor: pointer;
    display: block;
    height: 50px;
    position: absolute;
    right: 35px;
    transform: translateY(70px);
    transition: opacity .8s ease, transform .8s ease;
    opacity: 0;
    width: 50px;
}

.scroll-top:hover {
    transform: translateY(0);
}

.scroll-top.appear {
    opacity: 1;
    transform: translateY(-70px);
}

.sm-button {
    border-radius: 50px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: "Raleway-Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 1.5em;
    padding: 8px 45px;
    text-transform: uppercase;
    transition: all 0.35s ease;
}

.sm-black {
    border: 3px solid #000;
    color: #000;
}

.sm-black:hover {
    background-color: #000;
    color: #FBBA00;
}

.sm-yellow {
    background-color: #000;
    border: 3px solid #FBBA00;
    color: #FBBA00;
}

.sm-yellow:hover {
    background-color: #FBBA00;
    color: #000;
}

/*Extra effects*/

.vis {
    opacity: 1;
    visibility: visible;
}

.hide {
    opacity: 0;
    visibility: hidden;
}

/*No outlines for a*/

a {
    outline: 0;
    outline-style: none;
    outline-width: 0;
}

a:hover {
    text-decoration: none;
}

/*Backgrounds*/

.dark-bg {
    background-color: #000;
}

.yellow-bg {
    background: radial-gradient(#E2A801 5px, transparent 5px) center center fixed, #FBBA00;
    background-size: 36px 36px, cover;
    /*background-color: #FBBA00;*/
}

.scrollright {
    animation: sr_animate 2s infinite;
    cursor: pointer;
    height: 50px;
    width: 50px;
    will-change: transform;
}

.scrollright:hover {
    animation-play-state: paused;
}

@keyframes sr_animate {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(10px);
    }

    50% {
        transform: translateX(0);
    }
}

.portfolio-preview p {
    margin-top: 30px;
}

.more {
    height: 50px;
    width: 50px;
    margin-top: 15px;
    cursor: pointer;
    text-decoration: none;
}

.more-txt {
    padding-left: 10px;
    margin-top: 15px;
    display: block;
    font-size: 1.5em;
    text-transform: uppercase;
    font-family: "Raleway-Black", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}