/*Template*/

html,
body {
    margin: 0 auto;
    max-width: 1920px;
    overflow-x: hidden;
}

/*Section Container*/

.sect-container {
    padding: 8vw;
}

/*First screen*/

.first-screen {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.hometitle {
    margin-top: 100px;
}

.fs-bg-1::before {
    animation: showfs 3s forwards;
    background: #E2A801;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.fs-bg-1 {
    background: linear-gradient(-45deg, #E2A801 15%, #FFBF00, #E2A801 87%);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -2;
}

.fs-bg-2 {
    background: radial-gradient(#E2A801 6px, transparent 6px) center center fixed;
    background-size: 36px 36px;
    height: 120%;
    position: absolute;
    width: 120%;
    z-index: -1;
}

.name {
    animation: namecolor 3.5s forwards;
    color: #E2A801;
    cursor: pointer;
    font-family: "Raleway-Black", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 4.5em;
    text-transform: uppercase;
}



.gaslo {
    color: #2d2d2d;
    cursor: pointer;
    display: none;
    line-height: 1em;
    margin-top: -16px;
    transform: translateX(.5em);
}

@media screen and (min-width: 768px) {
    .name {
        font-size: 12em;
    }
}

/*Services*/

.home-services {
    background: linear-gradient(#f5f7fa, #c3cfe2);
    text-align: center;
}

.services {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services-container {
    min-height: 84vw;
    min-width: 84vw;
    position: relative;
}

@media screen and (min-width: 768px) {
    .services-container {
        min-height: 20vw;
        min-width: 20vw;
    }
}

@media screen and (min-width: 1920px) {
    .services-container {
        min-height: 15vw;
        min-width: 15vw;
    }
}

.serv-pre {
    transition: opacity .8s ease;
}

/*Services on hover*/

.services-container:hover {
    cursor: pointer;
}

.services-container:hover .serv-pre {
    opacity: 0;
}

.services-container:hover .serv-desc {
    opacity: 1;
}

.serv-desc {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity .8s ease;
    width: 100%;
}

/*Preview Portfolio*/

.portfolio-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.overlay-background {
    background: rgba(0, 0, 0, 0.9);
}

/*Design*/
.home-design {
    align-items: center;
    background-size: cover;
    background: url('../../../assets/img/background-par3.jpg') no-repeat center center fixed;
    display: flex;
    justify-content: center;
    min-height: 80vh;
    overflow: hidden;
    position: relative;
}

.home-design-txt {
    color: #fff;
    max-width: 80%;
}

@media screen and (min-width: 768px) {
    .home-design-txt {
        font-size: 5em;
    }
}

/*About Us*/

.about-us-screen {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
}

@media screen and (min-width: 768px) {
    .about-us-col {
        column-count: 2;
        column-gap: 40px;
    }
}

.about-us-col p {
    font-size: 1.5em;
    line-height: 1.5em;
}


/*Homepage Portfolio*/
.portfolio-preview p {
    margin-top: 30px;
}

.more-txt {
    display: block;
    font-family: "Raleway-Black", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 1.5em;
    margin-top: 15px;
    padding-left: 10px;
    text-transform: uppercase;
}

/*Extra effects*/

.vis {
    opacity: 1;
    visibility: visible;
}

.hide {
    opacity: 0;
    visibility: hidden;
}

/*No outlines for a*/

a {
    outline: 0;
    outline-style: none;
    outline-width: 0;
}

a:hover {
    text-decoration: none;
}

/*Backgrounds*/

.dark-bg {
    background-color: #000;
}

.yellow-bg {
    background: radial-gradient(#E2A801 5px, transparent 5px) center center fixed, #FBBA00;
    background-size: 36px 36px, cover;
    /*background-color: #FBBA00;*/
}