h1 {
    font-size: 2.5em;
    text-transform: uppercase;
    font-family: "Dvoway-Black", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    margin-bottom: 30px;
    line-height: normal;
    color: #222;
}

h2 {
    font-family: "Dvoway-Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 2em;
    line-height: normal;
    color: #222;
}

h3 {
    font-family: "Dvoway-Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 1.5em;
    line-height: normal;
    color: #222;
}

h4 {
    font-family: "Dvoway-Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 1.2em;
    line-height: normal;
    color: #222;
}

p {
    font-family: "Dvoway-Medium", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 1.5em;
    line-height: normal;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 3.5em;
    }

    h2 {
        font-size: 3em;
    }

    h3 {
        font-size: 2.5em;
    }

    h4 {
        font-size: 2em;
    }
}

.titles {
    margin: 0 auto 60px;
    text-align: center;
    color: #fbba00;
}

/*Color*/

.white-text {
    color: #FFF;
}

.yellow-text {
    color: #FBBA00;
}

.grey-text {
    color: #222;
}

.black-text {
    color: #000;
}

/*Size*/

.small-txt {
    font-size: .2em;
}

.smaller-txt {
    font-size: .75em;
}

.big-txt {
    font-family: "Dvoway-Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 3em;
}

/*Typing*/

.typing {
    display: none;
    font-size: 3em;
    margin-top: 40px;
    pointer-events: none;
    visibility: hidden;
}

.typing.white-text {
    text-shadow: 3px 3px 10px rgba(0, 0, 0, .2);
}

.white-sub-text {
    color: #fff;
    display: block;
    font-size: .8em;
    line-height: 0.5em;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, .3);
    transform: translateY(-18%);
}

.yellow-sub-text {
    color: #fbba00;
    display: block;
    font-size: .8em;
    line-height: 0.5em;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, .3);
    transform: translateY(-18%);
}

@media screen and (min-width: 768px) {
    .typing {
        font-size: 6em;
    }
}