h1 {
    font-size: 2.5em;
    text-transform: uppercase;
    font-family: "Dvoway-Black", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    margin-bottom: 30px;
    line-height: normal;
    color: #222;
}

h2 {
    font-family: "Dvoway-Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 2em;
    line-height: normal;
    color: #222;
}

h3 {
    font-family: "Dvoway-Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 1.5em;
    line-height: normal;
    color: #222;
}

h4 {
    font-family: "Dvoway-Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 1.2em;
    line-height: normal;
    color: #222;
}

p {
    font-family: "Dvoway-Medium", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 1.5em;
    line-height: normal;
}


@media screen and (min-width: 768px) {
    h1 {
        font-size: 3.5em;
    }

    h2 {
        font-size: 3em;
    }

    h3 {
        font-size: 2.5em;
    }

    h4 {
        font-size: 2em;
    }
}



/*Color*/

.white-text {
    color: #FFF;
}

.yellow-text {
    color: #FBBA00;
}

.grey-text {
    color: #222;
}

.black-text {
    color: #000;
}

/*Typing text*/
.typing {
		display: none;
}

.small-txt {
	font-size: .2em;
}

.big-txt {
	font-family: "Dvoway-Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	font-size: 3em;
}

.titles {
	margin: 0 auto 60px;
	text-align: center;
	color: #fbba00;
}
