/*Title*/
.timeline-title {
    padding-top: 8vw;
    padding-bottom: 30px;
    text-align: center;
}

/* Timeline container*/
.timeline {
    margin: 0 auto;
    max-width: 1920px;
    position: relative;
}

/* Vertical line */
.timeline::after {
    background: #ffba00;
    content: '';
    /*height: 100%;*/
    height: calc(100% + 45px);
    left: 30px;
    position: absolute;
    top: 8vw;
    width: 4px;
    z-index: -1;
}

/* Container around content */
.timeline>div {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 5%;
    width: 80%;
}

/* The circles on the timeline */
.timeline>div>span {
    align-items: center;
    background-color: #fbba00;
    border-radius: 50%;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    font-family: "Dvoway-Black", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 2em;
    height: 35px;
    justify-content: center;
    left: 0;
    transform: translateX(45%);
    position: absolute;
    width: 35px;
    padding-bottom: 7px;
    z-index: 1;
    transition: .4s ease;
    cursor: pointer;
}



/* Content */
.tm-content {
    text-align: center;
}

.tm-content>img {
    width: 50%;
}

/*Title*/
.tm-content>span {
    color: #222;
    display: block;
    font-family: "Dvoway-Black", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 3em;
    line-height: normal;
    margin-bottom: 5px;
    margin-top: 5px;
    position: relative;
    text-transform: uppercase;
}

/*Description*/
.tm-content>p {
    font-family: "Dvoway-Medium", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 1.2em;
    text-align: center;
}



@media screen and (min-width: 768px) {

    /*Center vertical line*/
    .timeline::after {
        left: 50%;
        width: 6px;
        top: 0;
    }

    /*Containers*/
    .timeline>div {
        padding: 0 5%;
        width: 45%;
    }

    .timeline>div>span:hover {
    	transform-origin: center center;
    	transform: translateX(-45%) scale(1.2);
    }

    .timeline>.left {
        transform: translateX(-50%);
    }

    .timeline>.right {
        transform: translateX(50%);
    }

    /*Circles*/
    .timeline>.left>span {
        width: 50px;
        height: 50px;
        left: 100%;
        transform: translateX(-45%);
    }

    .timeline>.right>span {
        width: 50px;
        height: 50px;
        transform: translateX(-45%);
    }

    .tm-content>img {
        width: 30%;
    }

    .right .tm-content {
        text-align: left;
    }

    .left .tm-content {
        text-align: right;
    }


    /*Description*/
    .right .tm-content>p {
        font-size: 1.5em;
        text-align: left;
    }

    .left .tm-content>p {
        font-size: 1.5em;
        text-align: right;
    }
}